body{
    font-family:'Roboto', sans-serif;
    color:#434455;
    background-color:var(--white);

}

:root{
    --purple:#4D5AE5;
    --navy-blue:#2E2F42;
    --grey-paragraphs:#434455;
    --off-white:#F4F4FD;
    --white:#FFF;
}

.logo{
    font-family: 'Raleway', sans-serif;;
    color:#4D5AE5;
    font-size:18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
.logo-part{
    font-family: 'Raleway', sans-serif;
    color:#2E2F42;
    font-size:18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.link{
    text-decoration: none;
}
.pages{
    
    list-style: none;
   
}
.page-description{
    color:#2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.address{
    list-style: none;
   
}

.address-description{
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}
.title{
color:#FFF;


font-size: 56px;
font-weight: 700px;
line-height: 1.07;
letter-spacing: 1.12px;

}

.main-button{
width: 169px;
height:56px;
background-color:var(--purple);
color:var(--white);
font-size: 16px;
font-weight: 500px;
line-height: 1.5;
letter-spacing: 0.64px;



}
h2{
    color:
}

.goals{
    list-style: none;
}
.goals-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.goals-description{
    color:var(--grey-paragraphs);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.32px;

}
.what-are-we-doing-list{
    list-style-type: none;
}
.what-are-we-doing-title{
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.11;
    letter-spacing: 0.72px;
}

.our-team-title-list{
    list-style: none;
}

.our-team-title{
    color:var(--navy-blue);
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.11;
    letter-spacing: 0.72px;
}
.our-team-name{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.our-team-paragraph{
    color: var(--grey-paragraphs);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.logo-part-foot{
    color: var(--purple);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800px;
    line-height: 1.16;
    letter-spacing: 0.54px;
}

.logo-foot{
    color:var(--off-white);
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800px;
    line-height: 1.16;
    letter-spacing: 0.54px;
}
.footer-paragraph{
    color: var(--off-white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


/*/PORTFOLIO/*/


.filter-list{
    list-style: none;
}

.filter{
    color:#4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
}

.projects{
    list-style: none;
}

.project-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.2;
    letter-spacing: 0.4px;

}

.project-paragraph{
    color: var(--grey-paragraphs);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;

}